@font-face {
  font-family: "riffic";
  src: url("fonts/Riffic.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  src: url("fonts/RobotoBoldCondensed.ttf") format("truetype");
}

body {
  background: center no-repeat url("universe.png") #000000;
}

.overall {
  position: relative;
  display: block;
  width: 85%;
  margin: 20px auto 0 auto;
  text-align: center;
}

.maintable {
  background-color: rgba(33, 33, 33, 0.7);
  color: #FFFFFF;
  width: 100%;
  height: 40px;        
  font-family: "roboto";
  font-size: 1em;
  letter-spacing: 0.1em;
  margin: 30px auto;
  border: 1px solid white;
  border-collapse: collapse;
}

.bline {
  font-family: "riffic";
  border-bottom: 1px solid #555;
  height: 40px;
}